.flourish {
  background-image: url("../images/Rise016.svg");
  background-size: cover;
  z-index: 3;
}
.negflourish {
  background-image: url("../images/Rise700.svg");
  background-size: cover;
  z-index: 3;
}
.endflourish {
  background-image: url("../images/Rise310.svg");
  background-size: cover;
  z-index: 3;
}
.imageflourish {
  background-image: url("../images/DDOT-3263_TimesSq-c.jpg");
  background-size: cover;
  z-index: -1;
  margin-top: -60px;
  margin-bottom: -60px;
  height: 300px;
}
